<!DOCTYPE html>
<html>
  <head>
    <title>Success</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/success.css' />
    <link rel='stylesheet' href='/stylesheets/background.css' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:Light" rel="stylesheet">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1" />
  </head>
  <body>
    <h3 class="title">Success</h3>
    <div class="buttonHolder">
      <button class="titleButton" onclick="window.location.href='{{location}}'"><span>Back</span></button>
    </div>
  </body>
</html>
